body{
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
  background-color: #d7d9dbe1;
}
section{
  display: flex;
  justify-content: center;
  margin: 5% 8%;
  height: 400px;
}
h1{
  font-family: Georgia;
  font-size: 50px;
}
h2{
  font-family: Georgia;
  font-size: 40px;
  font-weight: 600;
}
h3{
  font-family: Georgia;
  font-size: 30px;
  font-weight: 600;
}
p{
  font-size: 16px;
  color: rgba(0, 0, 0, 0.7);
}
.headline{
   text-align: center;
   font-size: 40px;
}
.intro{
  width: 50%;
  padding-left: 5%;
  padding-top: 5%;
}
.intro-title{
  border-image: linear-gradient(5deg,rgb(68, 0, 255),rgb(183, 0, 255));
  border-left: 4px solid;
  border-image-slice: 1;
  padding-left: 20px;
  margin-bottom: -20px;
  border-radius: 3px;
}
.pro-pic{
  width: 50%;
}
.pro-pic img{
  width: auto;
  height: 100%;
  padding-left: 20%;
}
#spred-item{
  display: flex;
  justify-content: space-evenly;
  margin: 0% 10%;
}
.content{
  padding: 20px 30px;
  margin: 0 30px;
  border-radius: 30px;
  box-shadow: 1px 1px 5px rgb(216, 214, 214);
  height: fit-content;
  width: 300px;
}
.content img{
  width: 100px;
  height: 100px;
}
#content1{
  background-color: lightcyan;
}
#content2{
  background-color: rgba(245, 235, 222, 0.986);
}
#content3{
  background-color: lightyellow;
}
.develop-img{
  width: 35%;
  margin: 0% 3%;
}
.develop-img img{
  width: 100%;
  height: 100%;
}
.develop{
  width: 65%;
  height: 100%;
  margin: 2% 3%;
}
.cotha{
  width:15%;
  height: 100%;
  margin: 0% 10%;
  background-image: url("./images/shape-7.png");
}
.cotha img{
  width: 100%;
  height: 100%;
}

.button-style{
  text-decoration: none;
  background-image: linear-gradient(150deg,#f713e7, #850667);
  color: white;
  font-size: 13px;
  display: inline-block;
  padding: 12px 35px;
  border-radius: 8px;
  font-weight: 800;
  border: none;
  margin: 5px 0px;
}
.button-style:hover {
  background: black;
}
.highlight-text{
  color:#7c0560;
}
.footer{
  text-align: center;
  color: seashell;
  background-color: rgb(14, 13, 13);
  padding: 30px 0;
}

.footer-head{
  font-size: 35px;
  font-family: 'Moon Dance';
}
.color-head{
  color: tomato;
}
small{
  font-family: 'Moon Dance';
}